body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e830e;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

div {
    margin-bottom: 15px;
}

.site-wrapper {
    margin-right: auto;
    margin-left:  auto;
    max-width: 1170px;
    padding-right: 10px;
    padding-left:  10px;
    align-items: center;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }